.address-container,.coupon-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    z-index: 1;
}
.address-form{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: white;
}
.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem auto;
}
.street{
    width: 70%;
    margin: auto;
}
/* action btns */
.form-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem 0.5rem;
}
.buttons button{
    vertical-align: middle;
}
.form-btns .primary-btn{
    margin: 0 0.5rem;
}
.card-btns{
    bottom: 8px;
    position: absolute;
}
.card-btns .primary-btn{
    margin: 0 0.5rem;
}
/* address list */
.new-btn,.dummy-btn{
    width: max-content;
    margin: 1rem;
}
.new-btn i{
    vertical-align: middle;
}
.dummy-btn{
    background-color: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    font-weight: bold;
}
.dummy-btn:hover{
    background-color: var(--secondary);
    color: white;
}
.add-heading{
    margin: 1rem 8rem;
}
.address-list{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: auto;
    padding: 1rem;
}
/* address card */
.address-card{
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid var(--secondary);
    padding: 1rem;
}

/* media queries */
@media only screen and (max-width: 768px) {
    .new-btn{
        width: auto;
    }
    .note{
        margin: 0;
        width: auto;
    }
    .address-form{
        width: 317px;
    }
    .d-flex{
        flex-direction: column;
    }
    .street{
        width: 80%;
    }
    .form-btns{
        margin: 0;
    }
    .form-btns .accent-btn{
        margin: 0 0.5rem 0.5rem;
    }
    
}