.form-container{
    padding: 0 1rem;
}
.form{
    max-width: 400px;
    border: 2px solid var(--primary);
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
}
.form-heading{
    color: var(--primary-dark);
}
/* button */
.form .button{
    width: 80%;
}
.btn-secondary:hover,.btn.coupon:hover{
    background-color: #244652;
}