.footer{
    z-index: 1;
    background-color: var(--secondary);
    padding: 0.5rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.socials,.footer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer-header span{
    color: var(--primary-light);
    font-family: var(--font);
}
.links{
    margin: 0.5rem 1rem;
}
.links:hover{
    color: var(--primary);
}