.navbars{
    width: 100%;
    position: fixed;
    background-color: var(--secondary);
    z-index: 1;
    background-color: var(--secondary);
}
.brand-name,.icon-links,.acount{
    font-family: var(--font);
    color: var(--primary);
}
.brand-name:hover,
.list-items a:hover,
.acount:hover{
    color: var(--primary-dark);
}
.menu-icon{
    padding: 0;
}
ul{
    margin: 0 1rem;
}
.list-items{
    vertical-align: middle;
    margin:0 0.8rem;
}
/* ***nav icons */
.badge-icon{
    margin: 0;
}
.dotbadge{
    bottom: 0.9rem;
    left: 1.2rem;
    background-color: var(--danger);
}
.numbadge{
    bottom: 0.8rem;
}
/* login btn */
.login{
    background-color: var(--primary);
    color: var(--secondary);
    margin:0 0.8rem;
}
.login:hover{
    background-color: var(--primary-dark);
    color: white;
}