.total-prod{
    padding: 1rem;
    color: var(--secondary);
}
.product-list{
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}
.vc-image{
    object-fit: contain;
    height: 10rem;
}
.action-btns:hover{
    background-color: transparent;
}
.btn{
    background-color: var(--primary);
    color: var(--secondary);
}
.btn:hover{
    background-color: var(--primary-dark);
    color: white;
}
.go-to-cart{
    background-color: var(--accent);
}
.go-to-cart:hover{
    background-color: var(--accent-dark);
}
/* section */
section{
    width: 100%;
}

.fav{
    color: var(--baby-pink) !important;
}
/* ratings */
.badge-rating{
    padding:  0 3px; 
    display: block;
}
.badge-star .fa-xs{
    font-size: 0.57rem ; 
    margin-bottom: 5px;
}
/* media queries */
@media only screen and (max-width: 600px) {
    .main-container{
        flex-direction: column;       
    }
    .product-list{
        padding: 8rem 2rem 3rem;
    }
}
@media screen and (min-width:390px) and (max-width:414px){
    .product-list{
        padding: 12rem 2rem 3rem;
    }
}