aside{
    width: 200px;
    height: 100vh;
    background-color: var(--light);
    padding: 1rem 0 15rem;
    position: fixed;
    overflow: auto;
}
/* filter menu */
.filter-icon{
    display: none;
}
.side-div{
    border: none;
    position: fixed;
}
@media screen and (max-width:767px) {
    .side-div{
        width: 200px;
        /* position: absolute; */
        z-index: 2;
        background-color: var(--light);
    }
    .hide{
        display: none;
    }
    aside{
        /* position: absolute; */
        z-index: 2;
        display: block;
        padding: 0;
        transform: translateX(0px);
        transition: transform 1s ease 0s;
    }
    .filter-icon{
        display: block;
        width: max-content;
        /* background-color: var(--light); */
        padding: 1rem;
    }
}
.link{
    color: var(--primary-dark);
    margin-left: 1.5rem;
}
.link:hover{
    background-color: var(--primary-light);
}
.sidebar-heading{
    padding: 0 1rem;
}
.filters{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}
.category-div,.rating-div,.sort-div{
    display: flex;
    flex-direction: column;
}
input[type='checkbox'],input[type='radio']{
    border: 0px;
    width: 1.2em; 
    height: 1em;
}
.accent{
    accent-color: var(--primary);
}
.--slider{
    outline: none;
    margin: 0.5rem 0;
    width: 100%;
}
/* section */
section{
    width: 100%;
}
select{
    padding: 4px;
    outline: none;
}
/* price range */
datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 0px;
  }
  
  .slider-container {
    flex-direction: column;
    height: auto;
  }
  /* media queries */
  /* @media only screen and (max-width: 600px) {
      aside{
        display: block;
        position: absolute;
        width: 100vw;   
        height: 28vh; 
        top: 3.8rem; 
        z-index: 1;
        overflow-y: scroll; 
      }
  } */