aside{
    width: 200px;
    background-color: var(--light);
    padding: 1rem 0;
}
.link{
    color: var(--primary-dark);
    margin-left: 1.5rem;
}
.link:hover{
    background-color: var(--primary-light);
}
.sidebar-heading{
    padding: 0 1rem;
}
.filters{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}
.category-div,.rating-div,.sort-div{
    display: flex;
    flex-direction: column;
}
input[type='checkbox'],input[type='radio']{
    border: 0px;
    width: 1.2em; 
    height: 1em;
}
.accent{
    accent-color: var(--primary);
}
.--slider{
    outline: none;
    margin: 0.5rem 0;
    width: 100%;
}
/* section */
section{
    width: 100%;
}
select{
    padding: 4px;
    outline: none;
}
/* price range */
datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 0px;
  }
  
  .slider-container {
    flex-direction: column;
    height: auto;
  }