:root{
    /* colors */
    --light:#f6fbff;
    --primary-light:#c7e3fd;
    --primary: #A2D2FF;
    --primary-dark:#449af6;
    --secondary:#152D35;
    --accent: #FF865E;
    --accent-dark:#fa7346;
    --light-green:#c9fc93;
    --beige:#FEF9EF;
    --baby-pink: #ffa2d2;


    /* font family */
    --font:'Amarante', cursive;
}